node_modules
.next
dist
coverage
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
build
*.log
.env
.env.local
backend/prisma/dev.db
backend/uploads
mobile/.idea
mobile/.metadata
mobile/android/.gradle
mobile/ios/Pods
